* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

.hero {
    z-index: 0;
    position: relative;
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(#ffffff, #a8feff);
    display: flex;
    align-items: center;
    justify-content: center;
}

#dropArea {
    width: 100%;
    height: 100vh;
    padding: 10px;
    background: rgb(255, 255, 255);
    text-align: center;
 }

#imageView {
    position: relative;
    width: 100%;
    height: 100%;
    /* border-radius: 20px; */
    /* padding-top: 40vh; */
    border: 2px solid #2d3030;
    background: #F5F5F5;
    overflow: hidden;    
}

canvas {
    z-index: 1;
    position: relative;
    padding-left: 0;
    padding-right: 0;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 800px;
}

.toggle-button {
    margin-top: 10px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#infoDiv {
    /* padding pushes it down the container */
    padding-top: 40vh;
    position: absolute;
    width: 100%;
    height: 10vh;
    margin: auto;
    display: block;
    z-index: 1;
}

#backgroundImage {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height:100%;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    z-index: 2;
}

#verticalLineDiv {
height: 100%; 
width: 100%;
z-index: 3;
background-color: #F5F5F5;
}

#horizontalLineDiv {
    height: 100%; 
    width: 100%;
    z-index: 3;
    background-color: #F5F5F5;
}

.line {
    position: absolute;
    width: 1px;
    height: 100%; /* Set the height to 100% */
    background-color: black;
    /* background-color: white; */
    z-index: 4;
}

.horizontalLine {
    position: absolute;
    height: 1px;
    width: 100%; /* Set the height to 100% */
    background-color: black;
    /* background-color: white; */
    z-index: 4;
}

#camera-feed {
    position: absolute;
    width: auto; /* Adjust as needed */
    height: auto;
    max-width: 1000px; /* Limit the max width for better visibility */
    border: 5px solid #181818;
    border-radius: 10px; /* Optional: rounded corners */
    z-index: 3;
}

/* Nav Bar */

.sidenav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }
  
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }